body {
  margin: auto;
  width: 100%;
  padding: 0;
  font-family: sans-serif;
  background-image: url("http://www.kaixinguopiao.com/img/default/winter_camp_head_bg.jpg");
}

*{
  max-width: 100%;;
}
